<div class="product-container">
  <h2 class="title">Automehaničarske usluge</h2>

  <div *ngIf="loading" class="loader-container">
    <div class="loader"></div>
    <p>Učitavanje proizvoda...</p>
  </div>

  <div class="product-grid" *ngIf="!loading">
    <div class="product-card" *ngFor="let product of products">
      <img src="assets/productImage.jpg" [alt]="product.name" class="product-image" />

      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p class="brand">{{ product.brand }}</p>
        <p class="category">{{ product.category }}</p>
        <p class="description">{{ product.description }}</p>
        <p class="price">{{ product.price | currency:'RSD':'symbol':'1.0-0' }}</p>
      </div>

      <button class="add-btn" (click)="addToCart(product)">
        🛒 Dodaj u korpu
      </button>
    </div>
  </div>
</div>
